.main-container {
    position: relative;
    height: 100vh;
    background-image: url("../../public/space-image.jpg");
    background-size: cover;
    background-position: center;
}

.coders-text {
    position: absolute;
    right: 1%;
    bottom: 1%;
    color: white;
}

.coders-text span {
    margin-left: 40px;
}