.main-container {
    position: relative;
    height: 100vh;
    background-image: url("../../public/space-image.jpg");
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

h1 {
    left: 50%;
    top: 8%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: rgba(240, 240, 240, 1);
    font-size: 50px;
    z-index: 1;
}

canvas {
    height: 100vh !important;
    z-index: 1 !important;
}